.nav {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.item-nav {
  margin: 0 20px;
  list-style: none;
  font-weight: 700;
}

.link-nav:hover {
  background-color: white;
  color: #000000;
}

.link-nav {
  text-decoration: none;
  color: #89958D;
  padding: 10px 10px;
  border-radius: 20px;
}
