.principal {
    display: grid;
    justify-content: center;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}

.children {
    border: 2px solid #000000;
    border-radius: 10px;
}

img {
    border-radius: 10px 10px 0 0;
}

.info-div {
    background: rgb(0, 0, 0, 0.95);
    width: 333px;
    padding: 5px 0px;
    margin: -5px 0;
    border-radius: 0 0 10px 10px;
}

.info-div h1 {
    font-size: 40px;
    font-weight: 700;
    color: #a71930;
}

.info-div h3 {
    color: #a71930;
    font-weight: 400;
}

.info-div h3 span {
    color: #a5acaf;
}

.info-div div p {
    color: #a5acaf;
    font-weight: 300;
    line-height: 30px;
}

.info-div div {
    margin: 10px;
}
form {
    text-align: center;
    padding: 10px 0;
}

input {
    outline: none;
    border: 1px solid #a71930;
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}


button {
    background-color: #a71930;
    outline: none;
    border: 1px solid #a71930;
    border-radius: 20px;
    padding: 10px;
    margin: 0 5px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .principal div {
        display: flex;
    }
    .info-div {
        min-width: 500px;
        border-radius: 0 10px 10px 0;
        margin: 0;
    }
    .info-div div {
        display: block;
    }
    img {
        border-radius: 10px 0 0 10px;
    }
}
